body {
  background-color: #fafafa;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#body {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

#chart,
#header,
#footer {
  position: absolute;
  top: 0;
}

#header,
#footer {
  z-index: 1;
  display: block;
  font-size: 30px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted,
#footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 20px;
  right: 10px;
  width: 300px;
  text-align: right;
}

#footer {
  top: 520px;
  right: 10px;
  width: 300px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string,
.regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class,
.special {
  color: #1181b8;
}

a:link,
a:visited {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  /*width: 1280px;*/
  font-size: 12px;
  color: #999;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#picture {
  text-align: center;
  max-width: 100%;
}
