body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

div {
  padding: 6px;
  margin: 6px;
  text-align: left;
}

#main {
  text-align: center;
}

#top {
  text-align: center;
  max-width: 100%;
}

#descendants {
  max-width: 100%;
  width: 100%;
}
